# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\web工具\bp插件\FastInfoset\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
